<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="display:flex; flex-direction: column; align-items: center; width:150px">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src='<%= pic %>' alt="steroider"/>
    <a href="/users">Users</a>
    <a href="/calc">Calculator</a>
    <a href="/hello">Say Hello</a>
  </body>
</html>
